* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  background-color: #f5f5f5;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  width: 100%;
  height: 51px;
  padding: 0 50px;
}
header .logo a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 24px;
}

header nav a {
  padding: 0 25px;
  text-decoration: none;
  color: #f5f5f5;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.sideBar {
  width: 180px;
  height: 170px;
}
.sideBar ul {
  width: 100%;
  height: 100%;
}

.sideBar li:nth-child(1) {
  background-color: #fff;
  border: 1px solid #c4c3c3cb;
  border-radius: 5px;
  border: 1px solid #c4c3c3cb;
  box-shadow: 0 2px #c4c3c3cb;
}
.sideBar li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 90%;
}
.sideBar li a {
  text-decoration: none;
  color: #4b4949cb;
}
.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  margin: 0 25px;
}
.cart1 {
  color: #4b4949cb;
  border: 1px solid #c4c3c3cb;
  border-radius: 5px;
  margin-bottom: 15px;
}
.profils {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 20px;
}
.profils .imgpro {
  width: 60px;
}
.profils .pseudo h1 {
  color: #000;
}
.cart1 .imgPub {
  width: 100%;
}
.cart1 .imgPub img {
  width: 100%;
}
.cart1:nth-child(3) .imgPub img {
  width: 600px;
}
.paragraphe {
  padding: 10px 15px 25px 10px;
}
.avie {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e6dede;
  padding: 15px 10px 20px 10px;
  width: 100%;
}
.avie .like {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avie .like img {
  padding-right: 10px;
}
.avie .comment {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avie .comment img {
  padding-right: 10px;
}
.groupe {
  width: 400px;
}

.amie .ajout {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}
.groupe .amie .ajout .photo {
  width: 73px;
  height: 73px;
  background-color: #c4c4c4;
  border: 1px solid #c4c4c4;
}
.ajout .ajouter {
  padding-left: 10px;
}
.ajouter .noms p {
  color: #c4c4c4;
}
.ajout .ajouter .plus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.ajouter .plus img {
  padding-right: 10px;
}
